@use 'variables' as *;
@use 'global' as *;

.warning {
  color: $attentionColor;
}

.error-color {
  color: $attentionColor;
}

.error-position {
  text-align: left;
}

.info {
  color: $successfulColor;
  text-align: left;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

label {
  text-align: left;
  font-size: 0.9;
  color: var(--accent-text);
}

input {
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #001524;
  color: var(--accent-text);
  font-size: 1rem;
  box-shadow: inset 0 0 4px $pallete-0-color-11;

  &::placeholder {
    color: #bce1e1;
  }
}