<div class="modal-dialog">
  <h3 class="container__center dialog-header">{{ content.txtChangePassword }}</h3>

  <form [formGroup]="userInfoForm" class="universal-input">

    <div class="form-item">
      <label>{{content.txtCurrentPassword}}</label>
      <input matInput [placeholder]="content.txtCurrentPassword" [type]="isPasswordVisible ? 'password' : 'text'"
        formControlName="currentPassword"
        [class.invalid]="userInfoForm.get('currentPassword')?.invalid && (userInfoForm.get('currentPassword')?.touched || userInfoForm.get('currentPassword')?.dirty)" />
      <button type="button" class="toggle-visibility-btn" (click)="tooglePasswordVisible()">
        <mat-icon>{{isPasswordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </div>

    <div class="form-item">
      <label>{{content.txtNewPassword}}</label>

      <input matInput [placeholder]="content.txtNewPassword" type="password" formControlName="newPassword"
        [class.invalid]="userInfoForm.get('newPassword')?.invalid" />
      <!-- && (userInfoForm.get('newPassword')?.touched || userInfoForm.get('newPassword')?.dirty) -->
    </div>

    <div class="form-item">
      <label>{{content.txtRepeatNewPassword}}</label>
      <input [placeholder]="content.txtRepeatNewPassword" matInput type="password" formControlName="repeatNewPassword"
        [class.invalid]="userInfoForm.errors?.['mismatch'] 
                        && (userInfoForm.get('repeatNewPassword')?.touched 
                        || userInfoForm.get('repeatNewPassword')?.dirty)" />
    </div>

    @if (userInfoForm.get('newPassword')?.errors
    || userInfoForm.errors?.['mismatch']
    || userInfoForm.get('currentPassword')?.invalid) {
    <p>
      @if (userInfoForm.get('newPassword')?.errors?.['required']) {
    <p class="error-position error-color">*New password is required</p>
    }
    @if (userInfoForm.get('newPassword')?.errors?.['minlength']) {
    <p class="error-position error-color">*New password must be at least 8 characters long</p>
    }
    @if (userInfoForm.get('newPassword')?.errors?.['uppercase']) {
    <p class="error-position error-color">*New password must contain at least one uppercase letter</p>
    }
    @if (userInfoForm.get('newPassword')?.errors?.['lowercase']) {
    <p class="error-position error-color">*New password must contain at least one lowercase letter</p>
    }
    @if (userInfoForm.get('newPassword')?.errors?.['number']) {
    <p class="error-position error-color">*New password must contain at least one number</p>
    }
    @if (userInfoForm.get('newPassword')?.errors?.['specialCharacter']) {
    <p class="error-position error-color">*New password must contain at least one special character</p>
    }
    @if (userInfoForm.errors?.['mismatch']) {
    <p class="error-position error-color">*Passwords do not match</p>
    }
    @if (userInfoForm.get('currentPassword')?.invalid) {
    <p class="error-position error-color">*Current password is required</p>
    }
    </p>
    }
    <div class="info"><strong>{{infoMessage}}</strong></div>
    @if (errorMessage) {
    <div class="error-position error-color">*{{errorMessage}}</div>
    }
    <div class="container__flex container__center">
      <button class="primary-button" type="submit" [disabled]="isSaveButtonDiabled" (click)="onSubmit()">
        <mat-icon>save</mat-icon>
        {{content.saveText}}
      </button>
      <button class="secondary-button" (click)="onCancel()">
        <mat-icon>close</mat-icon>
        {{content.cancelText}}
      </button>
    </div>
  </form>
</div>