<div class="tab-settings container__column universal-input editor editor__scroll-hidden">
  <!-- <div class="container__wrap container__space-between">
    @for (requirement of requirements; track requirement; let i = $index) {
    <div class="position-description container__flex">
      <mat-button-toggle-group 
        [(ngModel)]="requirement.isIncluded" 
        (ngModelChange)="isIncludedChange($event, i)"
        class="toggle-group toggle-group-align"
        style="margin-top: 0.8rem;">
        <mat-button-toggle [value]="false" (click)="initializeEditorContent()">{{content.txtNo}}</mat-button-toggle>
        <mat-button-toggle [value]="true" (click)="initializeEditorContent()">{{content.txtYes}}</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field [class.disabled]="!isIncluded">
        <input 
          type="text" 
          class="transparent-input-full-width"
          matInput 
          [(ngModel)]="requirement.sectionName"
          (ngModelChange)="headerChange($event, i)"
          [readonly]="!requirement.isIncluded">
      </mat-form-field>
    </div>
    } 
  </div> -->
  <div class="container__flex container__middle container__nowrap tab-settings__full">
    <mat-form-field>
      <input type="text" matInput 
        [(ngModel)]="headerName" 
        class="transparent-input-full-width"
        (ngModelChange)="headerChange($event)">
    </mat-form-field>
    <mat-button-toggle-group 
      [(ngModel)]="isIncluded" 
      (ngModelChange)="isIncludedChange($event)"
      class="toggle-group-align toggle-group" 
      style="margin-top: 0.8rem;">
      <mat-button-toggle [value]="false">{{content.txtNo}}</mat-button-toggle>
      <mat-button-toggle [value]="true">{{content.txtYes}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="tab-settings__items editor__scroll-hidden"
    [class.disabled]="!isIncluded">
    <div class="container-editor-menu">
      <ngx-editor-menu 
        [editor]="editor" 
        [toolbar]="toolbar">
      </ngx-editor-menu>
      <ngx-toolbar>
        <ngx-toolbar-buttons class="toolbar-buttons">
          <ngx-toolbar-button
            class="toolbar-button container-tool__menu"
            id="chatGptGenerator"
            #chatGptGenerator
            (click)="openChatGptDialog()"
            matTooltip="Open ChatGPT Generator">
              <mat-icon>smart_toy</mat-icon>
          </ngx-toolbar-button>
          <ngx-toolbar-button
            class="toolbar-button container-tool__menu"
            id="chatGptGenerator"
            #geminiGenerator
            (click)="openGeminiDialog()"
            matTooltip="Open Gemini Generator">
              <mat-icon>chat</mat-icon>
          </ngx-toolbar-button>
        </ngx-toolbar-buttons>
      </ngx-toolbar>
    </div>
    <div class="container-of-editors">
      <ngx-editor appInsertion 
        [editor]="editor" 
        [class.disabled]="!isIncluded"
        [(ngModel)]="requirementSectionContent" 
        [disabled]="false"  
        class="tab-settings__item editor__scroll-hidden"
        (ngModelChange)="editorChange($event)" 
        [placeholder]="content.positionDescription">
      </ngx-editor>
      <app-chat-gpt-generator 
        *ngIf="isChatGptDialogVisible"
        [isImageNeeded]="isImageNeeded"
        [blockName]="descriptionItem"
        (close)="handleCloseChatGptDialog()"
        (closeFullScreen)="handleCloseChatGptFullScreenDialog()"
        (openFullScreen)="handleOpenChatGptFullScreenDialog()">
      </app-chat-gpt-generator>
      <app-gemini-generator *ngIf="isGeminiDialogVisible"
        (close)="handleCloseGeminiDialog()"
        (closeFullScreen)="handleCloseGeminiFullScreenDialog()"
        (openFullScreen)="handleOpenGeminiFullScreenDialog()">
      </app-gemini-generator>
    </div>
  </div>
</div> 