<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!-- Title and Icon -->
    <title>Video Call.</title>
    <!-- Meta Information -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- StyleSheet -->

    <link rel="stylesheet" href="/static-content/css/landing.css" />
    <link rel="stylesheet" href="/static-content/css/newcall.css" />
</head>

<body class="has-animations">
    <div class="body-wrap">
        <header class="site-header reveal-from-top">
            <div class="container"></div>
        </header>
        <main class="site-content">
            <section class="cta section center-content-mobile reveal-from-bottom">
                <div class="container">
                    <div class="cta-inner section-inner cta-split br-12">
                        <div class="cta-slogan">
                            <h3 class="m-0">
                                Pick a room name.<br />
                                How about this one?
                            </h3>
                        </div>
                        <div class="cta-action">
                            <div class="mb-24">
                                <label class="form-label screen-reader" for="roomName">VC</label>
                                <div class="form-group-desktop">
                                    <input class="form-input" type="text" id="roomName" value="VC"
                                        style="border-radius: 6px" />
                                    <button id="joinRoomButton"
                                        class="button button-primary button-colors-dark br-6 pulse"
                                        onclick="joinRoom()">
                                        Join Room
                                    </button>
                                    <script>
                                        document.getElementById('roomName').onkeyup = (e) => {
                                            if (e.keyCode === 13) {
                                                e.preventDefault();
                                                joinRoom();
                                            }
                                        };
                                        function joinRoom() {
                                            let roomName = document.getElementById('roomName').value;
                                            // console.log('landing.html joinRoom function');
                                            let targetUrl = window.location.href + 'join/' + roomName;
                                            // console.log('joinRoom, targetUrl', targetUrl);
                                            window.location.href = targetUrl;
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script defer src="/static-content/js/landing.js"></script>
    <script defer src="/static-content/js/newRoom.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>