@use 'variables' as *;
@use 'global' as *;

.opened-position-form {

  padding: $padding-wide;
  position: relative;
  min-height: $screen-height-tile-position;
  height: 100%;
  border: none;
  border-radius: $borderRadiusMiddle;
  transition: transform 0.3s ease;
  background: transparent;
  text-align: left;
  opacity: 0.8;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: $margin-narrow;
  margin-left: $margin-narrow;

  @media (max-width: $screen-size-mobile) {
    width: $screen-size-tile-position;
    max-width: 600px;
    padding: $padding-middle;
    transition: all 0.3s;
    margin-top: $margin-wide;
    margin-right: $margin-narrow;
    margin-left: $margin-narrow;
    border-radius: $borderRadius;
  }

  mat-slide-toggle {
    padding: $padding-middle;

    @media (max-width: $screen-size-mobile) {
      padding: $padding-narrow;
    }
  }

  .position-title {
    cursor: pointer;
    align-self: flex-start;
    text-align: left;
    line-height: 1.8;
    font-weight: 600;
    font-size: $font-size-header-small;
    text-decoration: underline;

    @media (max-width: $screen-size-mobile) {
      font-size: $font-size-header-narrow;
      line-height: 1.2;
    }

    @media (max-width: $screen-size-small) {
      width: 100%;
    }

  }

  .controls {

    position: relative;
    display: inline;
    display: inline-flex;
    flex-direction: row;

    .position-switcher {

      position: relative;
      display: inline-flex;
      flex-direction: column;
    }
  }
}

.tile-header {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
}

.button-align-right {
  display: flex;
  justify-content: flex-end;
}

:host {
  height: fit-content;
}

.icon-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .custom-icon {
    font-size: 48px;
    color: #673ab7;
    transition: transform 0.2s ease;

    &:hover {
      color: #ff9800;
      transform: scale(1.2);
    }
  }
}

.position-title span {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--accent-text) !important;
  text-decoration: underline;
  text-decoration-color: var(--accent-text);
}

.vacancy-id {
  font-size: $font-size-vacancy-id;
  margin-bottom: $margin-narrow;
}

.job-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
  font-size: 16px;
}

.job-info-wrapper span,
.salary {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: normal;
  word-break: break-word;
}

.details {
  display: inline-flex;
  align-items: center;
  gap: $gap-small;
  white-space: normal;
  word-break: break-word;
}

.details mat-icon {
  flex-shrink: 0;
}

.single-detail {
  padding: $padding-narrow;
  background-color: transparent !important;
  border: none !important;
  border-radius: $borderRadius !important;
  box-shadow: var(--box-shadow-light);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-small;
  margin: 10px 0;
}

.detail-date {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  gap: 5px;
}

mat-icon {
  flex-shrink: 0;
}

mat-icon {
  color: $pallete-0-color-14 !important;
}