@use 'variables' as *;

mat-expansion-panel {
  width: 100%;
  position: relative;
  background-color: transparent;
  color: var(--text);
  box-shadow: none !important;
  align-items: flex-start;

  @media (max-width: $screen-size-mobile) {
    max-width: 20rem;
  }

  @media (max-width: $screen-size-small) {
    max-width: 15rem;
  }
}

.mat-expansion-panel-body {
  padding: 0;
}

mat-panel-title {
  background-color: transparent;
  color: var(--text);
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;

  @media (max-width: $screen-size-mobile) {
    font-size: 16px;
    max-width: 100% !important;
  }
}

mat-panel-description {
  background-color: transparent;
  color: var(--text);
}



::ng-deep .mat-expansion-panel-body {
  height: fit-content;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 !important;
  width: 100%;

  @media (max-width: $screen-size-tab) {
    max-width: 100% !important;
  }
}

::ng-deep.mat-panel-description {
  display: none;
}

::ng-deep .mat-expansion-panel-header-description {
  display: none;
}

::ng-deep .mat-expansion-indicator::after {
  color: var(--text);
}