@use 'variables' as *;
@use 'global' as *;

::ng-deep .users-wrapper {
    .mat-mdc-text-field-wrapper.mdc-text-field {
        margin: 0 !important;
        border-bottom: $border solid $secondary-border-color !important;
    }

    .mat-elevation-z8 {
        background-color: $secondary-dark-background;
    }
}