@if(loading) {
<app-loading-spinner></app-loading-spinner>
}
@if(!loading) {
<div class="big-calendar">
  <div class="calendar-header">
    <div class="calendar-header-left">
      <div class="month-nav">
        <button class="nav-btn" (click)="navigateMonth('prev')">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <h2 class="calendar-title">{{ currentDate | date:'MMMM yyyy' }}</h2>
        <button class="nav-btn" (click)="navigateMonth('next')">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </div>
    <button class="new-time-frame-btn" (click)="openAddTimeSlotForm()">
      <mat-icon>add</mat-icon>
      <span class="new-time-frame-lbl">{{ content.txtAddTimeFrame }}</span>
    </button>
  </div>

  <div class="calendar-grid">
    <div class="weekdays-row">
      @for(day of weekDays; track day) {
      <div class="weekday">{{ day }}</div>
      }
    </div>
    <div class="days-grid">
      @for(day of calendarDays; track day) {
      <div [ngClass]="{
              'past-day': isPastDate(day.date),
              'day-cell': true,
              'not-current-month': !day.isCurrentMonth,
              'not-work': day.timeFrames.length === 0,
              'today': day.isToday,
              'current-month': day.isCurrentMonth && !day.isToday,
            }">
        <div class="day-header">
          <span class="day-number">{{ day.date | date:'d' }}</span>
          @if(day.isCurrentMonth) {
          <button class="add-meeting-btn">
            <mat-icon>add</mat-icon>
          </button>
          }
        </div>
        <div class="timeframes-list">
          @for(timeFrame of day.timeFrames; track timeFrame) {
          @if(day.isCurrentMonth) {
          <div class="time-frame-strip" (click)="openEditTimeSlotForm(timeFrame)">
            {{ timeFrame.startTime }}–{{ timeFrame.endTime }}
          </div>
          }
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
}