@use 'variables' as *; 
@use 'global' as *;

.view-switcher {
  display: flex;
  border-radius: $borderRadiusMiddle;
  overflow: hidden;
  border: none;
  box-shadow: var(--box-shadow-light);
}

.view-button {
  display: flex;
  align-items: center;
  padding: $padding-semi-middle;
  font-size: $font-size-header-narrow;
  background: transparent;
  border: none;
  color: var(--text);
  cursor: pointer;

  &:hover {
    background-color: $pallete-0-color-22;
  }

  &.active {
    background-color: $pallete-0-color-12;
    color: var(--text);

    &:hover {
      background-color: darken($pallete-0-color-12, 5%);
    }
  }

  .view-icon {
    font-size: $font-size-paragraph;
    margin-right: $margin-narrow;
  }
}