@use 'variables' as *;

.tooltip-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 20px;
  background: $background-dark-main !important; 
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px;
  color: var(--text);
  font-family: Arial, sans-serif;
  z-index: 1000;
}

.cross-container {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
  
  .circle {
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    animation: draw-circle 1s ease-out forwards;
    stroke: #dc3545; 
  }
  
  .cross-line1,
  .cross-line2 {
    stroke-dasharray: 42;
    stroke-dashoffset: 42;
    animation: draw-cross 0.5s ease-out forwards;
    animation-delay: 0.8s;
  }
  
  @keyframes draw-circle {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes draw-cross {
    to {
      stroke-dashoffset: 0;
    }
  }
  