<div class="modal">
    
    <div class="modal-content">
      <button class="close" (click)="closeModal()">X</button>
      <!-- [src]="fileUrl" -->
      <!-- <div  class="doc-container">
        <div [innerHtml]="documentContentUpdated" ></div>
      </div> -->
      <div  class="doc-container">
        <div [innerHtml]="documentContent" ></div>
      </div>
      <!-- <div  class="doc-container" >
        <div [innerHtml]="documentContent" ></div>
      </div> -->

        <!-- <iframe
            frameborder="0"
            [innerHtml]="documentContentUpdated"
            style="width: 100%; height: 100%;">
          
        </iframe>
        <iframe
        frameborder="0"
        [innerHtml]="documentContent"
        style="width: 100%; height: 100%;">
      
    </iframe> -->
      
    </div>
  </div>