<div class="company-card" [class.current]="isCurrent">
  <div class="card-header">
    <span class="icon"><mat-icon>business</mat-icon></span>
    <div class="actions">
      @if (canEditItem) {
      <span class="edit" (click)="edit.emit()">
        <mat-icon>edit</mat-icon>
      </span>
      }
      @if (canEditItem) {
      <span class="delete" (click)="delete.emit()">
        <mat-icon>delete</mat-icon>
      </span>
      }
    </div>
  </div>

  <h4 class="company-name" (click)="onOpenCompanyPage(company._id)">
    {{ company.data.companyName }}
  </h4>
  <div class="info">
    @if(company.data.mainIndustryDomain.industryName) {
    <div><mat-icon>miscellaneous_services</mat-icon>{{ company.data.mainIndustryDomain.industryName }}</div>
    }
    @if(company.data.country) {
    <div>
      <mat-icon>location_on</mat-icon>
      {{ company.data.country.name }},
      {{ company.data.city?.name }}
    </div>
    }
    @if(company.data.shortDescription) {
    <div><mat-icon>article</mat-icon> {{ company.data.shortDescription }}</div>
    }
  </div>

  <button [disabled]="isCurrent" (click)="setCurrent.emit()"
    [ngClass]="{ 'current-btn': isCurrent, 'set-btn': !isCurrent }">
    {{ isCurrent ? 'Current Company' : 'Set as Current' }}
  </button>
</div>