<div class="universal-input">

  <button class="form-button exit-button" (click)="onCancel()">
    <mat-icon class="icon-close">
      <svg class="icon-close" width="1.5rem" height="1.5rem" viewBox="0 0 108 107"
        fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27 26.75L54 53.5L81 26.75" stroke="white" stroke-width="10"
          stroke-linecap="round" />
        <path d="M27 80.25L54 53.5L81 80.25" stroke="white" stroke-width="10"
          stroke-linecap="round" />
      </svg>
    </mat-icon>
  </button>

  <div class="social-media">

    <h2
      class="padding-vertical-wide padding-horizontal-middle text-center">{{ content.txtSocialMediaForm }}</h2>

    <form [formGroup]="socialMediaForm">

      <div>
        <mat-form-field>
          <mat-label>{{content.name}}</mat-label>
          <input
            matInput
            name="name"
            formControlName="name"
            [(ngModel)]="socialMedia.name"
            placeholder="Social Media Name: " />
        </mat-form-field>

        <mat-form-field>
          <div class="file-input-row">

            <input matInput [readonly]="true" name="icon" formControlName="icon" [(ngModel)]="socialMedia.icon"
              [value]="fileName == '' || fileName == undefined ? content.txtSelectSocialMediaIconPlaceholder: fileName" />

            <div class="import-profile-image">

              <a
                class="import-profile-image-link"
                (click)="fileInput.click()"
                target="_blank">
              </a>

              <input
                hidden
                (change)="onFileSelected($event)"
                [accept]="extensions"
                #fileInput
                type="file"
                class="import-btn-input" />

              <button
                class="button__primary-color button--small "
                (click)="fileInput.click()">
                {{ content.btnSelect }}
              </button>

            </div>
          </div>

        </mat-form-field>

        <mat-form-field>
          <mat-label>{{content.txtUrl}}</mat-label>
          <input
            matInput
            name="mainUrl"
            formControlName="mainUrl"
            [placeholder]="content.txtUrl"
            [(ngModel)]="socialMedia.mainUrl">
        </mat-form-field>

        @if(isEdit) {
        <mat-form-field>
          <mat-label>{{content.txtImagePath}}</mat-label>
          <input
            matInput
            name="imagePath"
            formControlName="imagePath"
            [placeholder]="content.txtImagePath"
            [(ngModel)]="socialMedia.imagePath">
        </mat-form-field>
        }

        <mat-form-field>
          <mat-label>{{content.txtPriority}}</mat-label>
          <input type="number" matInput min="1"
            formControlName="priority"
            [placeholder]="content.txtPriorityPlaceholder"
            [(ngModel)]="socialMedia.priority">
        </mat-form-field>

      </div>

    </form>

    <div mat-dialog-actions [align]="'end'" class="container__center">
      <button (click)="onApply()" class="button__primary-color button--medium container__center">
          {{ controlButtonContent }}
      </button>
    </div>

    @for (notification of notificationMessages; track notification) {
    <div class="notification">
      {{notification}}
    </div>
    }
  </div>
</div>