<form #userSkillsSearchInput style="margin-bottom: 1rem;">
  <mat-form-field class="form-field-input">
    <mat-label class="new-label label-icon"><mat-icon>{{skillIcon}}</mat-icon>{{ placeholderText }}</mat-label>

    <div class="input-field">
      <input type="text" matInput [hidden]="suppressFocus" [(ngModel)]="rawInputlValue" [formControl]="inputControl"
        (input)="filterCollectionItems()" (click)="onAutocompleteOpened()" (focus)="onAutocompleteOpened()"
        [matAutocomplete]="matAutocomplete" [placeholder]="placeholderText" class="transparent-input-full-width" />

      <mat-autocomplete autoActiveFirstOption #matAutocomplete="matAutocomplete" (opened)="onAutocompleteOpened()">
        <input class="input-dropdown-filter" [placeholder]="content.txtFilter" [formControl]="filterControl"
          (keyup)="applyLocalFilter()" />

        <div (scroll)="onScroll($event)" class="input-dropdown-options" (opened)="onAutocompleteOpened()">
          @for (option of collection; track option) {
            <mat-option [value]="getValue(option)">
              <div class="input-option-text">
                {{ getValue(option) }}
              </div>
            </mat-option>
          }
        </div>
      </mat-autocomplete>

      <div class="square-add-button" (click)="add(rawInputlValue)">
        <mat-icon>add</mat-icon>
      </div>
    </div>

    <mat-error>
      <div class="input-errors">
        @for (error of errors; track error) {
        <p>{{ error }}</p>
        }
      </div>
    </mat-error>
  </mat-form-field>

  <div class="input-items">
    @for (item of populatedCollection; track item) {
    <div class="tag-item">
      <button (click)="remove(item)">
        <mat-icon>delete_sweep</mat-icon>
      </button>
      <span>{{ getValue(item) }}</span>
    </div>
    }
  </div>
</form>