<div class="form-container">
  <div class="form-box">
    <h2>Forgot Password?</h2>
    <p class="subtext">Enter your email to receive reset instructions</p>

    <form [formGroup]="passwordRecovery" >
      <div class="form-item">
        <label for="email">{{content.txtEmail}}</label>
        <input id="email" type="email" autofocus name="email" formControlName="email" 
          [class]="passwordRecovery.controls.email?.invalid && passwordRecovery.controls.email?.touched ? 'invalid' : 'valid'"
          [placeholder]="content.txtEmail" [(ngModel)]="passwordRecoveryData.email" required />
        @if (passwordRecovery.controls.email?.invalid 
            && (passwordRecovery.controls.email?.touched 
            || passwordRecovery.controls.email?.dirty)) {
        <div class="errors">
          @if (passwordRecovery.controls.email?.errors) {
          <p>{{content.txtFieldRequired}}</p>
          }
          @if (passwordRecovery.controls.email?.errors) {
          <p>&nbsp;{{content.txtValidationEmailError}}</p>
          }
        </div>
        }
      </div>
      <button (click)="onResetPassword()" [disabled]="!passwordRecovery.valid">Reset Password</button>
    </form>

    <div class="notification" [style]="{ 'visibility': notificationMsg != undefined ? 'visible' : 'hidden' }">
      <p [class]=" isSuccessful == true ? 'success' : 'correction' ">{{
        notificationMsg }}</p>
      <span>
        {{'redirection in '}}
        {{decrementedCounter/1000}}
        {{' seconds '}}
      </span>

    </div>
  </div>
</div>
