<div class="cbody">
  <div class="cmain">
    <div class="ccontentwrap">
      <!-- <video class="ccont" #videoPlayer onloadedmetadata="this.muted = true" preload="metadata" playsinline
        [autoplay]="true" [loop]="true" [muted]="true" z-index="1" poster="../../../assets/EVRYKA-POSTER.png">
        <source src="../../../assets/video-1.mp4#t=0.001" type="video/mp4" z-index="-30" />
      </video> -->

      <app-video-player class="ccont" [src]="videoSrc"></app-video-player>
    </div>
  </div>
  <div class="cbottom"></div>
  <div class="cleg"></div>
  <div class="cfootwrap">
    <div class="cfoot"></div>
  </div>
</div>